<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>
  </title>
  <meta charset="utf-8" name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <!-- <link href="/public/css/global.css" rel="stylesheet"> -->
  <!-- vuetify -->
  <link href="../lib/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="../lib/css/vuetify.min.css" rel="stylesheet">
  <!-- <link href="../lib/css/vuetify.custom.css" rel="stylesheet"> -->
  <!-- common lib -->
  <script src="../lib/js/lodash.min.js"></script>
  <script src="../lib/js/dayjs.min.js"></script>
  <script src="../lib/js/vue.js"></script>
  <script src="../lib/js/vuetify.min.js"></script>
  <style>
    body {
      background-color: white;
      padding: 0;
    }
  </style>
  {% include 'common/constructionPlanAxios.html' %}

  {% block css %}
  {% endblock %}

</head>

<body>

  <!-- 使用 x-template 的模式，避免 vue-slot 不能支持大写字母的问题 -->
  <script type="text/x-template" id="app-template">
    <div id="container">
      {% block vue_template %}
      {% endblock %}
      <jhToast/>
      <jhConfirmDialog/>
    </div>
  </script>

  <div id="app">
  </div>
  {% include 'component/jhToast.html' %}
  {% include 'component/jhConfirmDialog.html' %}
  {% include 'layout/jhLayoutV3.html' %}


  {% block vue_body %}
  {% endblock %}
</body>