{
  "[html]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "printWidth": 500,
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore",
  "useTabs": false,
  "endOfLine": "auto",
  "ignorePath": ".gitignore"
}