<!--
 * @Author: case 7795958+lipangpang251@user.noreply.gitee.com
 * @Date: 2022-06-06 13:31:38
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2022-07-11 15:04:38
 * @FilePath: \framework\src\view\common\appAxios.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!--appAxios.html start-->
<script>
  (function () {
    console.log("appAxios");
    if (window.callbackMap !== undefined) {
      return;
    }
    window.callbackMap = {};

    window.client = acquireVsCodeApi();


    getRandomInt = (min, max) => {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min) + min);
    };

    /**
     * 向 vscode 发请求
     * exp:
     * appAxios({
     *  data: {
            appData: {
                pageId: 'mysqlConfig',
                actionId: 'getConfig',
                actionData: {}
            }
        }
     * })
     */
    window.appAxios = ({ data: requestBodyToFill, packageType = "messageRequest", callback }) => {
      const packageId = `${Date.now()}_${getRandomInt(1000000, 9999999)}`;
      const requestBody = {
        packageId,
        packageType,
        timestamp: new Date().toISOString(),
        appData: requestBodyToFill && requestBodyToFill.appData,
      };
      window.client.postMessage(requestBody);
      // 注册回调方法
      return new Promise(function (resolve, reject) {
        let success = false;
        const listener = data => {
          success = true;
          // 持久话回调，只有明确的结束，才会停止

          if (callback) {
            callback(data);
          }
          if (callback && !data.appData.isEnd) {
            return;
          }
          window.callbackMap[packageId](data);
          delete window.callbackMap[packageId];
          resolve({ data });
        };
        // 超时逻辑 5000
        if (!callback) {
          setTimeout(() => {
            if (!success) {
              delete window.callbackMap[packageId];
              window.vtoast.fail(`请求超时, actionId: ${requestBodyToFill && requestBodyToFill.appData.actionId}, packageId: ${packageId}`);
              reject(new Error("请求超时"));
            }
          }, 5000);
        }
        window.callbackMap[packageId] = listener;
      });
    };

    // 处理 vscode 发过来的请求
    window.resourceListener = {};

    // 监听从 vscode 发过来的消息
    window.addEventListener("message", ({ data }) => {
      console.log('onVscodeMessage', data);
      if (!data) {
        return;
      }
      // 回调成功
      if (data.packageId && window.callbackMap[data.packageId]) {
        window.callbackMap[data.packageId](data);
      }
      switch (data.packageType) {
        case "initResponse":
          window.workspaceFolders = data.appData.workspaceFolders;
          break;
        case "messageResponse":
          resourceHandler(data);
          break;
        default:
          break;
      }
    });

    /**
     * 1.0的接收方法
     */

    resourceHandler = (data) => {
      if (data.packageType === "messageRequest") {
        if (window.resourceListener[data.appData.actionId]) {
          window.resourceListener[data.appData.actionId](data);
        }
      } else if (data.packageType === "messageResponse") {

      } else {
        console.warn("Unkown message type!!!", data);
      }
    }
  })();
</script>
<!--appAxios.html end-->