<!--
 * @Author: case 7795958+lipangpang251@user.noreply.gitee.com
 * @Date: 2022-06-06 13:31:38
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2022-07-11 15:04:38
 * @FilePath: \framework\src\view\common\appAxios.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!--appAxios.html start-->
<script>
  (function () {
    console.log("appAxios");
    if (window.callbackMap !== undefined) {
      return;
    }
    window.callbackMap = {};

    window.client = acquireVsCodeApi();
    window.resourceListener = {};

    getRandomInt = (min, max) => {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min) + min);
    };
    loopParse = (value) => {
      if (Array.isArray(value)) {
        value.forEach((item, index) => {
          if (typeof item === 'string') {
            if (item.indexOf("__FUN__") > -1) {
              console.log("item", item);
              value[index] = eval("(" + (item.replace(/__FUN__/g, "")) + ")");
            }
          } else {
            loopParse(item);
          }
        })
      } else if (typeof value === 'object') {
        for (let key in value) {
          if (typeof value[key] === 'string') {
            if (value[key].indexOf("__FUN__") > -1) {
              console.log("value[key]", value[key]);
              value[key] = eval("(" + (value[key].replace(/__FUN__/g, "")) + ")");
            }
          } else {
            loopParse(value[key]);
          }
        }
      }
    };
    /**
     * 向 vscode 发请求
     * exp:
     * appAxios({
     *  data: {
            appData: {
                pageId: 'mysqlConfig',
                actionId: 'getConfig',
                actionData: {}
            }
        }
     * })
     */
    window.appAxios = ({ data: requestBodyToFill, packageType = "messageRequest", callback, isVoid, isJianghuAxios = false }) => {
      const packageId = `${Date.now()}_${getRandomInt(1000000, 9999999)}`;
      const requestBody = {
        packageId,
        packageType,
        timestamp: new Date().toISOString(),
        appData: requestBodyToFill && requestBodyToFill.appData,
        isJianghuAxios,
      };
      window.client.postMessage(requestBody);
      // 注册回调方法
      return new Promise(function (resolve, reject) {
        let success = false;
        let timeoutHandler;
        // 超时逻辑 5000
        if (!callback && !isVoid) {
          timeoutHandler = setTimeout(() => {
            if (!success) {
              window.vtoast.fail(`请求超时, actionId: ${requestBodyToFill && requestBodyToFill.appData.actionId}, packageId: ${packageId}`);
              reject(new Error("请求超时"));
            }
          }, 5000);
        }
        if (isVoid) {
          resolve(true);
          return;
        }
        const onMessage = ({ data }) => {
          success = true;
          console.log("onVscodeMessage", data);
          timeoutHandler && clearTimeout(timeoutHandler);
          if (!data) {
            window.removeEventListener("message", onMessage);
            reject(new Error("请求失败"));
            return;
          }

          loopParse(data.appData);
          // 对 actionId 做持久监听
          if (window.resourceListener[data.appData.actionId]) {
            window.resourceListener[data.appData.actionId](data);
          }
          // 持久话回调，只有明确的结束，才会停止
          if (callback) {
            callback(data);
          }
          if ((callback && data.appData.isEnd) || !callback) {
            window.removeEventListener("message", onMessage);
            resolve({ data });
          }
        }
        window.addEventListener("message", onMessage);
      });
    };
    window.jianghuAxios = ({ data, packageType = "messageRequest", callback, isVoid }) => {
      return new Promise(async (resolve, reject) => {
        result = await window.appAxios({ data, packageType, callback, isVoid, isJianghuAxios: true });
        console.log("jianghuAxios result", result)
        resolve(result);
      });
    };
  })();
</script>
<!--appAxios.html end-->