{% block htmlHead %}
<style>
  /* css */
</style>
{% endblock %}

{% extends 'template/jhsTemplate.html'%}
{% block vueTemplate %}

<script type="text/html" id="app-template">
  <div>
    <v-app mobile-breakpoint="sm">
      <v-main class="mt-5">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="jh-page-second-bar px-8">
          <v-row class="align-center" dense>
            <v-col cols="12" xs="12" sm="12" md="4" xl="3">
              <div class="py-4 font-weight-bold d-flex align-center" style="font-size: 30px;">【{{appId}}】应用管理</div>
            </v-col>
          </v-row>
        </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->

        <!-- 页面内容 >>>>>>>>>>>>> -->
        <div class="jh-page-body-container px-8">
          <v-card class="rounded-lg pa-4 pt-6">
            <a href="">应用信息</a> - 应用的基本信息<br>
            <a href="">施工方案</a> - 一个markdown编辑器<br>
            <a href="">资源管理</a> - package.json的dependencies 可视化<br>
            <a href="">应用配置</a> - 应用的 config.defualt、 config.local 可视化<br>
            <a href="">数据管理</a> - 数据库的查看<br>
            <a href="">页面管理</a> - 页面列表；页面设计<br>
            <a href="">服务管理</a> - 项目的 service 脚本管理<br>
            <a href="">组件管理</a> - 组定义的组件；一个组件整合了全套流程的功能<br>
            <a href="">流程管理</a> - 自定义的一个事件流程；从触发-逻辑处理-数据处理-反馈；4步骤的脚本<br>
            <a href="">日志管理</a> - 应用的操作记录<br>
            -------<br>
            <a href="">layout管理</a> - 直接点开jhTemplate代码自由编辑<br>
            <a href="">路由管理</a> - 自定义配置一些特殊的路径<br>
          </v-card>
        </div>
        <!-- <<<<<<<<<<<<< 页面内容 -->
      </v-main>
    </v-app>

    <jh-toast />
    <jh-mask />
    <jh-confirm-dialog />
  </div>
</script>
<div id="app"></div>
{% endblock %}
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}

{% block vueScript %}

<script>
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      workspaceFolders: "<$ workspaceFolders $>",
      pageId: "<$ pageId $>",
      appId: "<$ appId $>",
      rules: {
        required: value => !!value || 'Required.',
        counter: value => (value && value.length >= 2 && value.length <= 20) || 'Max 10 Min 2 characters',
        appId: value => {
          const pattern = /^[a-zA-Z]\w*$/;
          return value && pattern.test(value) || 'Invalid appId.'
        },
        account: value => {
          const pattern = /^\w+$/;
          return value && pattern.test(value) || 'Invalid account.'
        },
        port: value => {
          const pattern = /^\d+$/;
          return value && pattern.test(value) || 'Invalid port.'
        },
        ip: value => {
          const pattern = /^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
          return value && pattern.test(value) || 'Invalid IP.'
        }
      },
    }),
    watch: {

    },

    created() {
    },
    mounted() {
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'getTableData':
            // await this.getTableData();
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      async selectWorkFolder(event) {
        const newFolder = await window.appAxios({
          packageType: "selectWorkFolder"
        });
        this.workspaceFolders = newFolder.data.appData.fsPath;
      },
      async submitCreateAppForm() {
        if (!(await this.$refs.form.validate())) {
          return false;
        }
        await window.appAxios({
          packageType: "submitCreateAppForm",
          data: {
            appData: {
              workspaceFolders: this.workspaceFolders,
              appId: this.appId,
              appName: this.appName,
              databaseIp: this.databaseIp,
              databasePort: this.databasePort,
              databaseUser: this.databaseUser,
              databasePassword: this.databasePassword,
            },
          },
          callback: (value) => {

          }
        });
      }
    }
  })
</script>

<style scoped>
  .v-input .v-label {
    line-height: 1.45;
  }
</style>{% endblock %}