{% extends 'template/jhsTemplate.html'%}
{% block css %}

<link href="../lib/jsoneditor/jsoneditor.css" rel="stylesheet">
<script src="../lib/jsoneditor/jsoneditor.js"></script>
{% endblock %}
{% block vue_template %}
<jh-layout-v3>
  <template slot="breadcrumbsTitle">content-resource</template>

  <v-card class="mt-3 pa-4 content-resource">
    <div class="d-flex justify-space-between align-center">
      <h3 style="font-size: 15px;">Resource</h3>
      <div>
        <v-btn-toggle v-model="resourceJsonView" color="mr-2" group v-if="resource.list.length > 0">
          <v-btn small :value="true">
            JSON预览
          </v-btn>
        </v-btn-toggle>
        <v-menu
          small
          key="add"
          offset-y
        >
          <template v-slot:activator="{ attrs, on }">
            <v-btn
              small
              class="mr-2"
              v-bind="attrs"
              v-on="on"
            >
              <v-icon small>
                mdi-plus
              </v-icon>
            </v-btn>
          </template>
          <v-list mandatory dense class="px-2">
            <v-list-item
              v-for="(item, index) in resourceSampleListFilter"
              :key="index"
              link
            >
              <v-list-item-title v-text="item.text" @click="addResourceLine({item})"></v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-btn small depressed @click="getResourceList" :loading="resource.loading" class="mr-2">
          刷新
        </v-btn>
        <v-btn small depressed color="success" @click="saveResource" :loading="resource.saving">保存Resource</v-btn>
      </div>
    </div>
    <page-item-table class="pageItemTable" :table-data="resource.list" type="resource" :page="pageId"
      :json-detail="resourceJsonView" @edit-json="editJson" :error="resource.error">
    </page-item-table>
    <v-overlay :absulate="true" :value="resource.loading" style="position: absolute;">
      <v-progress-circular indeterminate size="32"></v-progress-circular>
    </v-overlay>
  </v-card>

  <v-card class="mt-4 pa-4 content-ui">
    <div class="d-flex justify-space-between align-center">
      <h3 style="font-size: 15px;">UiAction</h3>
      <div>
        <v-btn-toggle v-model="uiJsonView" color="mr-2" group v-if="ui.list.length > 0">
          <v-btn small :value="true">
            JSON预览
          </v-btn>
        </v-btn-toggle>
        <v-btn small depressed  class="mr-2" @click="addUiLine">
          <v-icon small>
            mdi-plus
          </v-icon>
        </v-btn>
        <v-btn small depressed @click="getUiList" :loading="ui.loading" class="mr-2">
          刷新
        </v-btn>
        <v-btn small depressed color="success" @click="saveUi" :loading="ui.saving">保存uiAction</v-btn>
      </div>
    </div>
    <page-item-table class="pageItemTable" :json-detail="uiJsonView" :table-data="ui.list" type="ui" :page="pageId"
      @edit-json="editJson" :error="ui.error">
    </page-item-table>
    <v-overlay :absulate="true" light :value="ui.loading" style="position: absolute;">
      <v-progress-circular indeterminate size="32"></v-progress-circular>
    </v-overlay>
  </v-card>
       
  <v-card class="mt-4 pa-4 content-text-case">
    <div class="d-flex justify-space-between align-center">
      <h3 style="font-size: 15px;">TestCase</h3>
      <div>
        <v-btn small depressed class="mr-2" @click="addTestCaseLine">
          <v-icon small>
            mdi-plus
          </v-icon>
        </v-btn>
        <v-btn small depressed @click="getTestCaseList" :loading="testCase.loading" class="mr-2">
          刷新
        </v-btn>
        <v-btn small depressed color="success" @click="saveTestCase" :loading="testCase.saving">保存TestCase</v-btn>
      </div>
    </div>
    <page-item-table class="pageItemTable" :json-detail="uiJsonView" :table-data="testCase.list" type="testCase"
      :page="pageId"
      @edit-json="editJson" :error="testCase.error">
    </page-item-table>
    <v-overlay :absulate="true" light :value="testCase.loading" style="position: absolute;">
      <v-progress-circular indeterminate size="32"></v-progress-circular>
    </v-overlay>
  </v-card>
  
  <v-navigation-drawer v-model="editJsonDialog" fixed left width="80%" temporary>
    <vue-json-editor v-model="jsonObj.json" :type="jsonObj.type" :show-btns="true" :mode="'code'" lang="zh"
      :title="getJsonEditTitle()"
      @json-change="onJsonChange"
      @json-save="onJsonSave" @has-error="onError" class="ma-4"></vue-json-editor>
    <div v-for="(item, index) in sampleJson[jsonObj.type]" :key="index" class="ma-4">
      <v-subheader>{{item.label}}</v-subheader>
      <div
        class="pa-4"
        style="border: 1px solid rgb(239, 242, 245);; border-radius: 6px; position: relative; background-color: #f7f7f7;
        opacity: 0.8;">
        <v-icon small style="position: absolute; right: 8px; top: 8px"
          @click="copyCode(item.json)">
          mdi-content-copy
        </v-icon>
        <pre>{{ JSON.stringify(item.json, null, 2) }}</pre>
      </div>
    </div>
  </v-navigation-drawer>
</jh-layout-v3>
{% endblock %} 
{% block vue_body %}
{% include 'component/pageItemTable.html' %}
{% include 'component/vueJsonEditor.html' %}

<script type="module">
  new Vue({
    el: '#app',
    template: "#app-template",
    vuetify: new Vuetify(),
    data: () => {
      const resourceTableSample = { table: "table_name", operation: "select|insert|update|delete" };
      const resourceServiceSample = { service: "serviceName", serviceFunction: "functionName" };
      const resourceHookSample = { before: [], after: [ { "service": "serviceName", "serviceFunction": "functionName" } ] };
      const uiActionConfigSample = {
              label: "Ui Function Sample",
              json: {
                before: [
                  {
                    "function": "functionName"
                  }
                ],
                main: [
                  {
                    "function": "functionName"
                  }
                ],
                after: [
                  {
                    "function": "functionName"
                  }
                ]
              }
            };
      return {
        resourceJsonView: false,
        uiJsonView: false,
        isFormValid: true,
        pageIndex: 3,
        pageList: [],
        resource: {
          list: [],
          loading: false,
          saving: false,
          validate: ['actionId', 'desc', 'resourceType', 'resourceData'],
          error: {}
        },
        ui: {
          list: [],
          loading: false,
          saving: false,
          validate: ['uiActionId', 'desc', 'uiActionType', 'uiActionConfig'],
          error: {}
        },
        testCase: {
          list: [],
          loading: false,
          saving: false,
          validate: ['testId', 'testName', 'testOpeartion'],
          error: {}
        },
        pageId: "<$ pageId $>",
        database: "<$ database $>",
        jsonObj: {
          key: '',
          json: {},
          index: 0,
          type: ''
        },
        editJsonDialog: false,
        editor: null,
        sampleJson: {
          resource: [
            {
              label: "ResourceData Sql Sample",
              json: resourceTableSample
            },
            {
              label: "ResourceData Service Sample",
              json: resourceServiceSample
            },
            {
              label: "ResourceHook Sample",
              json: resourceHookSample
            }
          ],
          ui: [ uiActionConfigSample ],
        },
        resourceSampleList: [
          {text: '查询', value: 'refreshTableData', data: {
            pageId: "<$ pageId $>", actionId: 'refreshTableData', desc: '✅查询-查询列表', resourceType: 'sql', resourceData: { table: "table_name", operation: "select" }
          }},
          {text: '新增', value: 'insertItem', data: {
            pageId: "<$ pageId $>", actionId: 'insertItem', desc: '✅新增-添加数据', resourceType: 'sql', resourceData: { table: "table_name", operation: "insert" }
          }},
          {text: '编辑', value: 'updateItem', data: {
            pageId: "<$ pageId $>", actionId: 'updateItem', desc: '✅编辑-添加数据', resourceType: 'sql', resourceData: { table: "table_name", operation: "update" }
          }},
          {text: '删除', value: 'deleteItem', data: {
            pageId: "<$ pageId $>", actionId: 'deleteItem', desc: '✅删除-删除数据', resourceType: 'sql', resourceData: { table: "table_name", operation: "delete" }
          }},
          {text: '空白', value: '', data: {
            pageId: "<$ pageId $>",
            actionId: '',
            desc: '',
            resourceType: 'sql',
            resourceHook: null,
            resourceData: null,
          } }
        ]
        
      };
    },
    computed: {
      resourceSampleListFilter() {
        return this.resourceSampleList.filter(e => !e.value || !this.resource.list.find(c => e.value === c.actionId));
      }
    },
    mounted() {
    },
    watch: {
      pageId() {
        this.initRightTable();
      },
      database() {
        this.initRightTable();
      }
    },
    async created() {
      console.log('created', this.pageId)
      this.initRightTable();
    },
    methods: {
      async initRightTable() {
        this.getResourceList();
        this.getUiList();
        this.getTestCaseList();
      },
      async getResourceList() {
        this.resource.loading = true;
        const { data: { appData: { resultData: { rows } } } } = await window.constructionPlanAxios({
          data: {
            appData: {
              pageId: "pagePlanEdit",
              actionId: "getResourceList",
              where: { pageId: this.pageId },
            },
          },
        });
        this.resource.list = rows || [];
        this.resource.error = {};
        setTimeout(() => {
          this.resource.loading = false;
        }, 300)
      },
      async getTestCaseList() {
        this.testCase.loading = true;
        const { data: { appData: { resultData: { rows } } } } = await window.constructionPlanAxios({
          data: {
            appData: {
              pageId: "pagePlanEdit",
              actionId: "getTestCaseList",
              where: { pageId: this.pageId },

            },
          },
        });
        this.testCase.list = rows || [];
        this.testCase.error = {};
        setTimeout(() => {
          this.testCase.loading = false;
        }, 300)
      },
      async addResourceLine({item}) {
        const { actionId, data } = item;
        if (data.resourceData) {
          data.resourceData = JSON.stringify((data.resourceData || '{}'), null);
        }
        this.resource.list.push(data)
      },
      addUiLine() {
        this.ui.list.push({
          pageId: this.pageId,
          uiActionId: '',
          uiActionType: 'ui',
          desc: '',
          uiActionConfig: '',
        })
      },
      addTestCaseLine() {
        this.testCase.list.push({
          pageId: this.pageId,
          testId: '',
          testName: '',
          testOpeartion: '',
        })
      },
      async getUiList() {
        this.ui.loading = true;
        const { data: { appData: { resultData: { rows } } } } = await window.constructionPlanAxios({
          data: {
            appData: {
              pageId: "pagePlanEdit",
              actionId: "getUiList",
              where: { pageId: this.pageId },
            },
          },
        });
        this.ui.list = rows || [];
        this.ui.error = {};
        setTimeout(() => {
          this.ui.loading = false;
        }, 300)
      },
      editJson(obj) {
        console.log(obj)
        // create the editor
        // this.editor = new JSONEditor(this.$el.querySelector(".jsoneditor-vue"), options, obj)
        this.jsonObj = obj;
        this.editJsonDialog = true;

      },
      async saveResource() {
        if (!this.validateField(this.resource.validate, this.resource.list, 'resource')) return;
        this.resource.saving = true;
        await window.constructionPlanAxios({
          data: {
            appData: {
              pageId: "pagePlanEdit",
              actionId: "updateResourceList",
              actionData: { data: this.resource.list, pageId: this.pageId }
            },
          },
        });
        this.resource.saving = false;
        this.getResourceList()
        setTimeout(() => {
          this.resource.saving = false;
        }, 300)
      },
      async saveUi() {
        if (!this.validateField(this.ui.validate, this.ui.list, 'ui')) return;
        this.ui.saving = true;
        await window.constructionPlanAxios({
          data: {
            appData: {
              pageId: "pagePlanEdit",
              actionId: "updateUiList",
              actionData: { data: this.ui.list, pageId: this.pageId }
            },
          },
        });

        this.getUiList()
        setTimeout(() => {
          this.ui.saving = false;
        }, 300)
      },
      async saveTestCase() {
        if (!this.validateField(this.testCase.validate, this.testCase.list, 'testCase')) return;
        this.testCase.saving = true;
        await window.constructionPlanAxios({
          data: {
            appData: {
              pageId: "pagePlanEdit",
              actionId: "updateTestCaseList",
              actionData: { data: this.testCase.list, pageId: this.pageId }
            },
          },
        });

        this.getTestCaseList()
        setTimeout(() => {
          this.testCase.saving = false;
        }, 300)
      },
      onJsonChange() {

      },
      onJsonSave(value) {
        if (this.jsonObj.type === 'ui') {
          this.ui.list[this.jsonObj.index][this.jsonObj.key] = JSON.stringify(value);
        } else {
          this.resource.list[this.jsonObj.index][this.jsonObj.key] = JSON.stringify(value);
        }
        this.editJsonDialog = false;
      },
      onError() {

      },
      validateField(fields, data, type) {
        const error = {}
        let res = true;
        for (const [index, item] of data.entries()) {
          for (const field of fields) {
            if (!item[field]) {
              error[index] = [...(error[index] || []), field];
              if (res) {
                res = false;
              }
            }
          }
        }
        if (type === 'ui') {
          this.ui.error = error;
        } else if (type === 'resource') {
          this.resource.error = error;
        } else {
          this.testCase.error = error;
        }
        return res;
      },
      getJsonEditTitle() {
        if (!this.jsonObj.type || !this.editJsonDialog) return '';
        let line;
        let key;
        if (this.jsonObj.type === 'ui') {
          if (!this.ui.list.length) return ''
          line = this.ui.list[this.jsonObj.index];
          key = 'uiActionId';
        } else if (this.jsonObj.type === 'resource') {
          if (!this.resource.list.length) return ''
          line = this.resource.list[this.jsonObj.index];
          key = 'actionId';
        } else if (this.jsonObj.type === 'testCase') {
          if (!this.testCase.list.length) return ''
          line = this.testCase.list[this.jsonObj.index];
          key = 'testId';
        }
        return !line[key] && !line.desc ? '' : `${line[key]}: ${line.desc}`;
      },
      async copyCode(json) {
        navigator.clipboard.writeText(JSON.stringify(json, null, 2));
        await window.vtoast.success("已复制到剪切板");
      }
    }
  })
</script>

<style>
  .v-subheader {
    height: 38px;
  }
  .content-resource,
  .content-ui {
    overflow-x: auto;
  }
  .item-filter {
    filter: blur(10rpx);
    transition: scale(2);
  }
  .block-title {
    display: inline-block;
  }
  .jsoneditor {
    border-color: rgb(239, 242, 245);
  }
</style>
{% endblock %}