{% extends 'template/jhsTemplate.html'%}
{% block vue_template %}
<jh-layout-v3>
    <template slot="breadcrumbsTitle">
      jinghu-init Project
    </template>
    
    <v-row class="mt-2">
        <v-col v-for="(item, index) in projectList" cols="12" sm="6" md="4" lg="3" xl="3" class="pa-2">
            <v-card>
                <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title class="mb-2">{{item.title}}</v-list-item-title>
                      <v-list-item-subtitle>{{item.desc}}</v-list-item-subtitle>
                    </v-list-item-content>
                    <v-list-item-action>
                        <v-btn color="success" text @click="addTemlate(item)">
                            一键安装
                        </v-btn>
                    </v-list-item-action>
                  </v-list-item>
                </v-card>
        </v-col>
    </v-row>
    <div class="appTitle pt-5" style="font-size: 18px; font-weight: bold">jinghu-init Page</div>
      <v-row class="mt-2">
        <v-col v-for="(item, index) in pageList" cols="12" sm="6" md="4" lg="3" xl="3" class="pa-2">
            
            <v-card>
                <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title class="mb-2">{{item.title}}</v-list-item-title>
                      <v-list-item-subtitle>{{item.desc}}</v-list-item-subtitle>
                    </v-list-item-content>
                    <v-list-item-action>
                        <v-btn color="success" text @click="addTemlate(item)">
                            一键安装
                        </v-btn>
                    </v-list-item-action>
                  </v-list-item>
                </v-card>
        </v-col>
    </v-row>
</jh-layout-v3>

{% endblock %} {% block vue_body %}

<script>

    new Vue({
        el: '#app',
        template: "#app-template",
        vuetify: new Vuetify(),
        data: function () {
            return {
                show: false,
                model: 0,
                colors: [
                    'primary',
                    'secondary',
                    'yellow darken-2',
                    'red',
                    'orange',
                ],
                projectList: [
                    { title: 'multi', desc: '多应用demo', type: 'project', value: 'multi' },
                    { title: 'xiaoapp', desc: 'xiaoapp', value: 'crud' },
                    { title: 'xiaoapp-in-multi', desc: 'xiaoapp-in-multi', type: 'project', value: 'xiaoapp-in-multi' },
                    { title: '1table', desc: '单页面crud page集合', type: 'project', value: '1table' },
                    { title: '3table', desc: '3table project demo', type: 'project', value: '3table' },
                    { title: '1table-enterprise', desc: '多应用crud page集合', type: 'project', value: '1table-enterprise' },
                    { title: 'enterprise', desc: '多应用demo', type: 'project', value: 'enterprise' },
                ],
                pageList: [
                    { title: 'crud', desc: '单页面增删改查', value: 'crud-3-table' },
                    { title: '2table-crud', desc: '页面A、页面B, 一/多对多关系', value: '2table' },
                    { title: '3table-crud', desc: '页面A、页面B、页面AB', value: '3table' },
                    { title: 'test-page', desc: '测试页面', value: 'test-page' }
                ]
            }
        },
        mounted() {
        },
        created() {
        },
        watch: {
        },
        methods: {
            async addTemlate(item) {
                await window.constructionPlanAxios({
                    data: {
                        appData: {
                            pageId: "templateAdd",
                            actionId: "runInstall",
                            actionData: item
                        },
                    },
                });
            }
        }
    });
</script>
<style>

</style>
{% endblock %}