{% extends 'template/jhsTemplate.html'%}

{% block vue_template %}

<jh-layout-v3>
    <template slot="breadcrumbsTitle">
      用户权限
    </template>

    <v-card style="background-color: #f5f8fa;" class="mt-3">
      <v-navigation-drawer permanent absolute left width="220" v-model="showLeftMenu" hide-overlay>
        <template v-slot:prepend>
          <v-tabs color="success" v-model="pageTab" :show-arrows="false">
            <v-tab>用户</v-tab>
            <v-tab>组织</v-tab>
            <v-tab>角色</v-tab>
          </v-tabs>
          <v-btn depressed block style="max-width: 180px; display: block; min-width: calc(100% - 24px)!important;"
            @click="openFormDialog()" color="success ma-3 mb-0">
            添加新{{tabItemTitle}}
          </v-btn>
          <v-col>
            <v-text-field
              dense
              filled
              single-line
              hide-details="auto"
              label="Search" v-model="tabsSearchKeyword" prepend-inner-icon="mdi-magnify"
              color="success"></v-text-field>
          </v-col>
        </template>
        <v-list-item-group v-model="selectedItem" mandatory dense color="success" class="px-3">
          <v-list-item v-for="item in tabData" :key="item.value">
            <v-list-item-content>
              <v-list-item-title>{{ item.text }}({{ item.value }})</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-navigation-drawer>
  
      <!-- 页面主要内容 -->
      <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0"
        :style="{maxWidth: 'calc(100vw - ' + (showLeftMenu ? 530 : 0) + 'px)'}">
        <v-card>
          <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 ">
            <v-col cols="12" xs="12" sm="4" md="4" xl="4" class="d-flex align-center">
              <v-btn color="success" dark class="elevation-0 mr-4" @click="doUiAction('startCreateItem', null)">新增
              </v-btn>
              <span class="body-2">共{{ tableData.length }}条记录</span>
            </v-col>
            <v-col cols="12" xs="12" sm="8" md="8" xl="8" class="pa-xs-0 pa-xs-2 col-sm-8-flex d-flex align-center justify-end">
              <v-switch class="d-inline-block ma-0 pa-0 mr-2" v-model="showAllData" label="显示全部" color="success" inset
                @change="doUiAction('refreshTableData')" hide-details dense></v-switch>
              <v-text-field v-model="searchInput" hide-details prefix="表格过滤：" class="cus-v-input" dense filled
              single-line style="flex: initial;"></v-text-field>
            </v-col>
          </v-row>

          <v-row class="flex-nowrap ma-0">
            <v-col class="d-flex flex-column ma-0 pb-0">
              <v-data-table :headers="headers" :items="tableData" :search="searchInput"
                :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }" :items-per-page="20"
                :loading="isTableLoading" checkbox-color="success" mobile-breakpoint="0"
                class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
                <template v-slot:item.roleId="{ item }">
                  {{ (constantCollection.userType.find(({value}) => value === item.roleId) ||
                  constantCollection.role.find(({value}) => value === item.roleId) || {}).text }}
                </template>
                <template v-slot:item.action="{ item }">
                  <v-btn :small="!isMobile" class="mr-2 success" @click="doUiAction('startUpdateItem', {item})">
                    修改
                  </v-btn>
                  <v-btn :small="!isMobile" class="mr-2 error" @click="doUiAction('deleteItem', {item})">
                    删除
                  </v-btn>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card>
      </v-container>
  
      <v-navigation-drawer permanent absolute right width="220" v-model="showLeftMenu" class="pa-3" hide-overlay>
        <v-list-item-title style="font-size: 15px !important;font-weight: bold;" class="pb-3">{{tabItemTitle +
          '信息'}}
        </v-list-item-title>
        <v-form v-model="isFormValidRight" ref="formRight" lazy-validation>
          <v-row dense>
            <v-col cols="12" v-for="item of editFormFields">
              <span class="inputLabel">{{item.text}}</span>

              <v-select v-if="item.type === 'select'" class="cus-v-input"  dense filled single-line clearable item-value="value"
                :label="item.text" v-model="activeItemInfo[item.value]"
                :rules="item.require == false ? nullRules : requireRules" :items="constantCollection[item.value]">
              </v-select>
              <v-textarea v-else-if="item.type === 'textarea'" class="cus-v-input"  dense filled single-line
                :label="item.text" v-model="activeItemInfo[item.value]"
                :rules="item.require == false ? nullRules : requireRules">
              </v-textarea>
              <v-text-field v-else class="cus-v-input"  dense filled single-line :label="item.text"
                v-model="activeItemInfo[item.value]" :rules="item.require == false ? nullRules : requireRules">
              </v-text-field>
            </v-col>
          </v-row>
          <!-- <drawer-form :headers="editFormFields" :editItem="activeItemInfo" :constantCollection="constantCollection" :cols="12" :hasRowPX="false"></drawer-form> -->
          <v-row class="pa-3 mt-0">
            <v-spacer></v-spacer>
            <v-btn color="error" small @click="doUiAction('deleteLeftItem')" class="mr-2">删除</v-btn>
            <v-btn color="success" small @click="doUiAction('updateLeftItem')">修改</v-btn>
          </v-row>
        </v-form>
      </v-navigation-drawer>
    </v-card>
  
    <!-- 编辑抽屉 -->
    <v-overlay app :value="isEditDrawerShow"></v-overlay>
    <v-navigation-drawer v-model="isEditDrawerShow" fixed temporary right width="80%"
      class="elevation-24">
      <v-form v-model="isFormValid" ref="form" lazy-validation>
        <v-row class="pt-8">
          <span class="title pa-6 pl-12">{{ currentClickButton.title }}信息</span>
          <v-spacer></v-spacer>
          <v-btn class="mt-7 mr-8 elevation-0" fab x-small @click="isEditDrawerShow = false">
            <v-icon dark>mdi-close</v-icon>
          </v-btn>
        </v-row>
        <drawer-form :headers="tableFields" :editItem="editItem" :constantCollection="constantCollection"></drawer-form>
        <v-row class="justify-end mx-0 mt-8 px-10">
          <v-btn color="success" @click="doUiAction(dialogSaveInfoAction)">保存
          </v-btn>
          <v-btn class="elevation-0 mr-2 ml-2" @click="isEditDrawerShow = false">取消</v-btn>
        </v-row>
      </v-form>
    </v-navigation-drawer>

    <v-dialog v-model="addItemDialog" width="800px">
      <v-card>
        <!-- header -->
        <v-toolbar
            flat
            dense
            dark
            style="background-color: #fff;">
          <div class="black--text ml-4" style="font-size: 16px;">添加{{tabItemTitle}}</div>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
                text
                @click="addItemDialog = false""
            >
              <v-icon class="black--text" style="font-size: 18px;">mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-divider style="border-color: #eff2f5;opacity:0.8;"></v-divider>

        <v-card-text class="pt-6 pb-8">
          <v-form v-model="isFormValidLeft" v-if="addItemDialog" ref="formLeft" lazy-validation>
            <drawer-form :headers="formFields" :editItem="editItem" :constantCollection="constantCollection" :cols="6"></drawer-form>
          </v-form>
        </v-card-text>

        <!-- footer -->
        <v-divider style="border-color: #eff2f5;opacity:0.8;"></v-divider>
        <v-card-text class="py-3 d-flex justify-end" style="color:#A1A5B7;">
            <v-btn @click="addItemDialog = false"> 取消</v-btn>
            <v-btn color="success" class="mr-2 ml-2" @click="doUiAction('createLeftItem')"> 保存</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
</jh-layout-v3>

{% endblock %}

{% block vue_body %}
{% include 'common/uiAction.html' %}
{% include 'component/drawerForm.html' %}

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    mixins: [window.jianghuUiActionMixins],
    data: {
      // 表格相关数据
      isFormValid: true,
      isFormValidLeft: true,
      isFormValidRight: true,
      showAllData: false,
      addItemDialog: false,
      pageTab: 0,
      selectedItem: 0,
      showLeftMenu: true,
      requireRules: [v => !!v],
      nullRules: [v => true],
      tabsSearchKeyword: null,
      constantCollection: {
        user: [],
        group: [],
        role: [],
        userStatus: [{ value: 'active', text: '活跃' }, { value: 'banned', text: '关闭' }],
        userType: [{ value: 'common', text: '管理员' }, { value: 'staff', text: '职工' }, { value: 'teacher', text: '老师' }, { value: 'student', text: '学员' }],
      },
      isEditDrawerShow: false,
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      pageTableDataFromBackend: [],
      editItem: {},
      activeItemInfo: {},
      headers: [
        { text: "用户Id", value: "userId", width: 100, required: true },
        { text: "组织ID", value: "groupId", width: 120, required: true },
        { text: "角色ID", value: "roleId", width: 120, required: true },
        // { text: "操作人", value: "operationByUser", width: 120 },
        { text: '操作', value: 'action', align: 'center', sortable: false, edit: false, width: 160, class: 'fixed', cellClass: 'fixed' },
      ],

      userKeys: [
        { text: "用户Id", value: "userId", required: true },
        { text: "用户名", value: "username", required: true },
        { text: "用户账号状态", value: "userStatus", type: 'select' },
        { text: "用户类型", value: "userType", type: 'select' },
        { text: "初始密码", value: "clearTextPassword", required: true },
      ],

      groupKeys: [
        { text: "组织Id", value: "groupId", required: true },
        { text: "组织名", value: "groupName", required: true },
        { text: "组织描述", value: "groupDesc", require: false },
        { text: "组织Logo", value: "groupAvatar", require: false },
        { text: "拓展字段", value: "groupExtend", type: 'textarea', require: false },
      ],
      roleKeys: [
        { text: "角色ID", value: "roleId", required: true },
        { text: "角色名", value: "roleName", required: true },
        { text: "角色描述", value: "roleDesc", type: 'textarea', require: false },
      ],
      currentClickButton: { title: '新增', action: 'add' },
      database: '<$ database $>',
      dialogSaveInfoAction: ''
    },
    computed: {
      isMobile() {
        return false;
      },
      tableData() {
        return this.tableDataFromBackend;
      },
      tabData() {
        // _.toPairs对象转成了数组，因此可以索引获取
        const temp = _.toPairs(this.constantCollection);
        const tempTabList = temp[this.pageTab][1];
        if (this.tabsSearchKeyword) {
          const searchKey = [['userId', 'username'], ['groupId', 'groupName'], ['roleId', 'roleName']][this.pageTab];
          return tempTabList.filter((item) => item.data[searchKey[0]].includes(this.tabsSearchKeyword) || item.data[searchKey[1]].includes(this.tabsSearchKeyword));
        }
        return tempTabList;

      },
      tabPageHeaders() {
        if (this.pageTab === 0) {
          return this.headers;
        }
        if (this.pageTab === 1) {
          return this.pageHeaders;
        }
      },
      tabItemTitle() {
        const names = ['用户', '组织', '角色'];
        return names[this.pageTab];
      },
      tabItemKeys() {
        return [this.userKeys, this.groupKeys, this.roleKeys][this.pageTab];
      },
      // 编辑用表单字段
      formFields() {
        return this.tabItemKeys.filter(item => item.edit == null || item.edit == true)
      },
      editFormFields(){
        const headers = this.tabItemKeys.filter(item => item.edit == null || item.edit == true)
        return headers.filter(item => {
          if(this.pageTab == 0){
            return item.value !== 'clearTextPassword'
          }else{
            return item
          }
        })
      },
      // 编辑用表单字段
      tableFields() {
        return this.headers.filter(item => item.edit == null || item.edit == true)
      }
    },
    watch: {
      database() {
        this.doUiAction('refreshTableData');
      },
      async pageTab() {
        this.doUiAction('refreshTableData');
      },
      selectedItem(v, ov) {
        if (v !== ov) {
          this.doUiAction('refreshTableData');
        }
      },
      isEditDrawerShow(v) {
        if (v) {
          this.showLeftMenu = false;
        } else {
          this.showLeftMenu = true;
        }
      }
    },
    async created() {
    },
    mounted() {
      this.doUiAction('initOptions');
    },
    methods: {
      initOptions() {
        this.selectGroup();
        this.selectRole();
        this.buildActiveItemInfo(this.constantCollection);
      },
      // 获取当前左侧选中的选项详情
      buildActiveItemInfo(value) {
        console.log(this.selectedItem)
        const tabItemList = [value.user, value.group, value.role][this.pageTab || 0];
        if (tabItemList && tabItemList[this.selectedItem || 0]) {
          this.activeItemInfo = tabItemList[this.selectedItem || 0].data;
        }
      },
      async selectGroup() {
        const result = await window.constructionPlanAxios({
          data: {
            appData: {
              pageId: 'userGroupRoleManagement',
              actionId: 'selectGroup'
            }
          }
        });
        this.constantCollection.group = [...result.data.appData.resultData.rows.map((group) => {
          return { value: group.groupId, text: group.groupName, data: group }
        })]
      },
      async selectRole() {
        const result = await window.constructionPlanAxios({
          data: {
            appData: {
              pageId: 'userGroupRoleManagement',
              actionId: 'selectRole'
            }
          }
        });
        this.constantCollection.role = [...result.data.appData.resultData.rows.map((role) => {
          return { value: role.roleId, text: role.roleName, data: role }
        })]
      },
      async selectUser() {
        const result = await window.constructionPlanAxios({
          data: {
            appData: {
              pageId: 'userGroupRoleManagement',
              actionId: 'selectUser'
            }
          }
        });
        this.constantCollection.user = [...result.data.appData.resultData.rows.map((user) => {
          return { value: user.userId, text: user.username, data: user }
        })]
      },
      /**
       * 获取表格数据
       */
      async refreshTableData() {
        this.isTableLoading = true;
        let where = {};
        const activeItem = this.tabData[this.selectedItem];
        if (!this.showAllData && activeItem) {
          const key = ['userId', 'groupId', 'roleId'][this.pageTab];
          where = { [key]: activeItem.value }
        }
        const result = await window.constructionPlanAxios({
          data: {
            appData: {
              pageId: 'userGroupRoleManagement',
              actionId: 'selectItemList',
              where: where
            }
          }
        });
        this.tableDataFromBackend = result.data.appData.resultData.rows;
        this.buildActiveItemInfo(this.constantCollection);
        this.isTableLoading = false;
      },

      // startCreateItem
      async clearItemData() {
        this.editItem = {};
      },

      async openCreateItemDialog() {
        this.currentClickButton = { action: 'add', title: '新增' };
        this.isEditDrawerShow = true;
        this.dialogSaveInfoAction = 'createItem';
      },

      // createItem
      async prepareValidate() {
        if (!this.$refs.form.validate()) return false;
      },

      // createItem
      async confirmCreateItemDialog() {
        return window.confirmDialog({ title: '新增', content: '确定新增吗？' })
      },

      /**
       * 新增数据
       */
      async doCreateItem() {
        await window.vtoast.loading("保存中");
        const { userId, groupId, roleId } = this.editItem;
        await window.constructionPlanAxios({
          data: {
            appData: {
              pageId: 'userGroupRoleManagement',
              actionId: 'insertItem',
              actionData: { userId, groupId, roleId }
            }
          }
        });
        await window.vtoast.success("保存成功");
      },

      async closeDrawerShow() {
        this.isEditDrawerShow = false;
      },

      // startUpdateItem
      async prepareItemData({ item }) {
        this.editItem = { ...item };
      },

      async openUpdateItemDialog() {
        this.currentClickButton = { action: 'edit', title: '修改' };
        this.isEditDrawerShow = true;
        this.dialogSaveInfoAction = 'updateItem';
      },

      // updateItem
      async confirmUpdateItemDialog() {
        return window.confirmDialog({ title: '修改', content: '确定修改吗？' });
      },

      /**
       * 保存
       */
      async doUpdateItem() {
        await window.vtoast.loading("保存中");
        const id = this.editItem.id;
        const { userId, groupId, roleId } = this.editItem;
        await window.constructionPlanAxios({
          data: {
            appData: {
              pageId: 'userGroupRoleManagement',
              actionId: 'updateItem',
              actionData: { userId, groupId, roleId },
              where: { id: id }
            }
          }
        });
        await window.vtoast.success("修改成功");
      },

      // deleteItem
      async confirmDeleteItemDialog() {
        return window.confirmDialog({ title: '删除', content: '确定删除吗？' });
      },

      /**
       * 删除
       */
      async doDeleteItem() {
        window.vtoast.loading('正在删除')
        await window.constructionPlanAxios({
          data: {
            appData: {
              pageId: 'userGroupRoleManagement',
              actionId: 'deleteItem',
              where: { id: this.editItem.id }
            }
          }
        });
        window.vtoast.success('删除成功')
      },

      // 打开添加用户、组织、角色的表单弹窗
      async openFormDialog() {
        this.editItem = {};
        this.addItemDialog = true;
      },
      // 添加用户、组织、角色的表单
      async addNewItem() {
        if (!this.$refs.formLeft.validate()) return false;
        const insertActionId = ['insertUser', 'insertGroup', 'insertRole'][this.pageTab];
        this.addItemDialog = false;
        window.vtoast.loading("添加中")
        await window.constructionPlanAxios({
          data: {
            appData: {
              pageId: 'userGroupRoleManagement',
              actionId: insertActionId,
              actionData: this.editItem
            }
          }
        })
        window.vtoast.success("添加成功")
      },
      // 刷新用户、组织、角色的数据
      async reGetLeftData() {
        if (this.pageTab === 0) {
          await this.selectUser();
        }
        if (this.pageTab === 1) {
          await this.selectGroup();
        }
        if (this.pageTab === 2) {
          await this.selectRole();
        }
        this.$forceUpdate()
      },
      // 删除用户、组织、角色
      async deleteLeftItem() {
        if (await window.confirmDialog({ "title": `确认删除该${this.tabItemTitle}？` })) {
          const id = this.activeItemInfo.id;
          const actionId = ['deleteUser', 'deleteGroup', 'deleteRole'][this.pageTab];
          const whereKey = ['userId', 'groupId', 'roleId'][this.pageTab];
          const where = [{ userId: this.activeItemInfo['userId'] }, { groupId: this.activeItemInfo['groupId'] }, { roleId: this.activeItemInfo['roleId'] }][this.pageTab];
          if (where[whereKey]) {
            window.vtoast.loading("删除中");
            await window.constructionPlanAxios({
              data: {
                appData: {
                  pageId: 'userGroupRoleManagement',
                  actionId: actionId,
                  where: where
                }
              }
            })
            window.vtoast.success("删除成功");
          }
        }
      },
      // 更新修改用户、组织、角色
      async updateLeftItem() {
        if (!this.$refs.formRight.validate()) return false;
        window.vtoast.loading("保存中");
        const { id, ...data } = this.activeItemInfo;
        const actionId = ['updateUser', 'updateGroup', 'updateRole'][this.pageTab];
        await window.constructionPlanAxios({
          data: {
            appData: {
              pageId: 'userGroupRoleManagement',
              actionId: actionId,
              actionData: data,
              where: { id: id }
            }
          }
        })
        window.vtoast.success("保存成功");
      }
    }
  })
</script>
<style scoped>
  .v-navigation-drawer__border{
    display: none;
  }
  .v-tab{
    min-width: auto !important;
    padding: 0 10px;
  }
  .v-tabs-bar__content{
    justify-content: center;
  }
</style>

{% endblock %}