<script type="text/x-template" id="vueJsonEditor">
  <div>
    <div v-if="showBtns !== false" class="pb-2 d-flex justify-space-between align-center">
      <div class="json-title">{{title}}</div>
      <v-btn v-if="hasBtn" small depressed color="success" @click="onSave" :disabled="error">{{ locale[lang].save }}</v-btn>
    </div>
    <div class="jsoneditor-vue" :class="{'jsoneditor-vue-min': type === 'resource', 'hideHeader': !showHeader}" :style="{'height': height}"></div>
  </div>
</script>

<script>
  Vue.component("vueJsonEditor", {
    template: "#vueJsonEditor",
    props: {
      value: [String, Number, Object, Array],
      showBtns: [Boolean],
      height: {
        type: String,
        default: '55vh'
      },
      expandedOnStart: {
        type: Boolean,
        default: false
      },
      hasBtn: {
        type: Boolean,
        default: true
      },
      mode: {
        type: String,
        default: "tree"
      },
      modes: {
        type: Array,
        default: function () {
          return ["tree", "code", "form", "text", "view"];
        }
      },
      lang: {
        type: String,
        default: "en"
      },
      title: {
        type: String,
        default: ''
      },
      type: {
        type: String,
        default: 'ui'
      },
      showHeader: {
        type: Boolean,
        default: true
      }
    },
    watch: {
      value: {
        deep: true,
        immediate: true,
        async handler(val) {
          if (!this.internalChange) {
            await this.setEditor(val);

            this.error = false;
            this.expandAll();
          }
          this.$forceUpdate();
        },
        deep: true
      }
    },
    data() {
      return {
        editor: null,
        error: false,
        internalChange: false,
        expandedModes: ["tree", "view", "form"],
        locale: {
          it: {
            save: "SALVA"
          },
          en: {
            save: "SAVE"
          },
          zh: {
            save: "保存"
          }
        }
      };
    },
    mounted() {
      let self = this;

      let options = {
        mode: this.mode,
        modes: this.modes, // allowed modes
        onChange() {
          try {
            let json = self.editor.get();
            self.json = json;
            self.error = false;
            self.$emit("json-change", json);
            self.internalChange = true;
            self.$emit("input", json);
            self.$nextTick(function () {
              self.internalChange = false;
            });
          } catch (e) {
            self.error = true;
            self.$emit("has-error", e);
          }
        },
        onModeChange() {
          self.expandAll();
        }
      };

      this.editor = new JSONEditor(
        this.$el.querySelector(".jsoneditor-vue"),
        options,
        this.value
      );
    },
    methods: {
      expandAll() {
        if (
          this.expandedOnStart &&
          this.expandedModes.includes(this.editor.getMode())
        ) {
          this.editor.expandAll();
        }
      },

      onSave() {
        this.$emit("json-save", this.value);
      },

      async setEditor(value) {
        if (this.editor) this.editor.set(value);
      }
    }
  });
</script>

<style scoped>
  .json-title {
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .ace_line_group {
    text-align: left;
  }

  .json-editor-container {
    display: flex;
    width: 100%;
  }

  .json-editor-container .tree-mode {
    width: 50%;
  }

  .json-editor-container .code-mode {
    flex-grow: 1;
  }

  .jsoneditor {
    border: 1px solid #999999;
    border-radius: 5px;
  }

  .jsoneditor-menu>button,
  .jsoneditor-menu>.jsoneditor-modes>button {
    color: #333;
  }

  .jsoneditor-menu>button {
    background-color: #999;
  }

  .jsoneditor-menu>button:hover {
    background-color: #333;
  }

  .jsoneditor-vue {
    height: calc(100vh - 45vh);
  }

  .jsoneditor-vue .jsoneditor-outer {
    min-height: 80px;
  }

  textarea.jsoneditor-text,
  .ace-jsoneditor {
    min-height: 80px;
  }

  .jsoneditor-vue div.jsoneditor-tree {
    min-height: 350px;
  }

  code {
    background-color: #f5f5f5;
  }

  .jsoneditor-vue-min {
    height: 45vh !important;
  }

  .jsoneditor-menu {
    background-color: #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
  }

  div.jsoneditor-outer {
    height: calc(100% - 35px);
  }

  .hideHeader .jsoneditor-menu {
    display: none;
  }

  .hideHeader div.jsoneditor-outer {
    height: 100%;
  }
</style>